$bg-color: #282c34;
$input-color: #c7c6c6;
$button-color: #3a509b;
$mobile-width: 476px;

.App {
  background-color: $bg-color;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: ". content .";
  justify-items: center;
  text-align: center;
}

.App-header {
  width: 100%;
  grid-area: content;
  min-height: 100vh;
  font-size: calc(5px + 2vmin);
  color: white;
}

.clock {
  font-size: calc(5px + 2vmin);
  color: $bg-color + 25;
}

.error {
  color: red;
}

.highlight {
  background-color: rgb(172, 172, 5);
}

.btn {
  background-color: $button-color;
  border: none;
  color: $input-color;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  padding: 3px 6px 3px 6px;
  border-radius: 5px;

  &:hover {
    background-color: $button-color - 15;
    color: $input-color;
  }

  &:focus {
    border: none;
    outline: none;
    background-color: $button-color - 25;
  }

  &-search {
    border-radius: 0 20px 20px 0;
  }

  &-arrow {
    padding: 3px 6px 3px 6px;
  }

  &-default {
    text-transform:lowercase;
    padding: 5px 10px 5px 10px;
  }

  &-link {
    color:  white;
    background: none;
    text-decoration: underline;
    &:hover {
      color: $button-color + 35;
      background: none;
    }

    &:focus {
      color: $button-color + 20;
      border: none;
      outline: none;
      background: none;
    }
  }

  &-paginate {
    color:  rgb(141, 141, 141);
    margin-right: 1px;
    margin-left: 1px;
    background: none;
    text-decoration: none;
    &:hover {
      color: white;
      background-color: $bg-color + 50;
    }

    &:focus {
      border: none;
      outline: none;
      background-color: $bg-color + 50;
    }
  }

  &-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: stretch;
    justify-self: right;

    button {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
    button:first-child {
      border-radius: 20px 0 0 20px;
      border-right: 1px solid $button-color - 12;
    }
    button:last-child {
      border-radius: 0 20px 20px 0;
    }
  }
}

@media (max-width:$mobile-width) {
  .App {
    grid-template-columns: 10px 10fr 10px;
  }
}