@import "../../../App.scss";

.inputForm {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: auto 85px 190px;
  grid-template-rows: 50px;
  padding-bottom: 30px;
}



input {
  background-color: $input-color;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 20px 0 0 20px;
  padding-left: 20px;
  color: rgb(58, 58, 58);
  caret-color: $button-color;
  &:focus {
    border: none;
    outline: none;
    background-color: $input-color + 30;
  }

  &:hover {
    background-color: $input-color + 30;
    transition-duration: 2s;
  }
}