@import "../../../App";

$border-radius: 20px;
$border-color: $bg-color + 15;

table {
  border-spacing: 0px;
  width: 100%;
  background-color: $bg-color + 5;
  border-radius: $border-radius;
}

.table__elk {
  font-size: calc(1px + 2vmin);
  th {
    border: 1px solid $border-color;
    border-bottom: none;
    padding: 7px;
    font-weight: bold;
    text-transform: uppercase;
    &:first-child {
      border-top-left-radius: $border-radius;
    }
    &:last-child {
      border-top-right-radius: $border-radius;
    }
  }

  tr:last-child {
    td {

      &:first-child {
        border-bottom-left-radius: $border-radius;
      }
      &:last-child {
        border-bottom-right-radius: $border-radius;
      }
    }
  }

  td {
    border: 1px solid $border-color;
  }

  tr {
    td {
      text-align: left;
      padding: 4px 15px;
    }
    td:last-child {
      text-align: center;
    }
  }
}

.pagination-group {
  width : 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total-records {
  width: 100%;
  font-size: 15px;
  color: $bg-color + 40;
  align-self: center;
  padding-bottom: 20px;
}

@media (max-width:$mobile-width) {

  table {
    border-radius: 0;
  }

  .table__elk {

    th {
      &:nth-child(-n+2) {
        display: none;
      }
      &:last-child {
        border-radius: 0;
      }
    }

    td {
      &:nth-child(-n+2) {
        display: none;
      }
    }

    tr:last-child td:last-child {
      border-radius: 0;
    }
  }
}