@import "../App";

.list {
  width: 100%;
  min-height: 350px;
  background-color: $bg-color - 3;
  border: 1px solid rgba(58, 61, 65, 0.726);
  border-radius: 30px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $bg-color + 25;
    padding: 15px;
  }

  li:last-child {
    border-bottom: none;
  }

  .done {
    text-decoration: line-through;
  }
}

.btn {
  border: none;
  border-radius: 5px;
  width: 40px;

  &-delete {
    background-color: $button-color;
  }
}
