@import "../App.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  height: 40px;
  flex-direction: row;
  font-size: calc(6px + 1vmin);
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 2px 10px;
  background-color: $bg-color + 5;

  li {
    list-style: none;
  }

  .active {
    color: white;
    background-color: $bg-color + 50;
  }


}
