@import "../App";

$border-radius: 20px;
$border-color: #414141;

table {
  border-spacing: 0px;
  width: 100%;
  background-color: $bg-color - 5;
  border-radius: $border-radius;
}
.table__elk {
  font-size: calc(1px + 2vmin);
  th {
    border: 1px solid $border-color;
    border-bottom: none;
    &:first-child {
      border-top-left-radius: $border-radius;
    }
    &:last-child {
      border-top-right-radius: $border-radius;
    }
  }

  td {
    border: 1px solid $border-color;
    padding: 5px;
  }

  tr:last-child {
    td {
      &:first-child {
        border-bottom-left-radius: $border-radius;
      }
      &:last-child {
        border-bottom-right-radius: $border-radius;
      }
    }
  }

  .btn {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 3px;
    font-size: calc(1px + 1vmin);
    height: calc(20px + 1vmin);
    color: #ffffff;
    transition-duration: 0.5s;

    &-default {
      background-color: $button-color;

      &:hover {
        background-color: $button-color - 25;
      }
    }

  }
}